<header>
    <div class="header fixed-top">
        
        {{!-- <img src="/student_images/{{id}}.jpg" style="width:40px;height:40px;border-radius:50%;" class="ml-5"> --}}
        
        <h3 class="ml-5">Hi {{name}}</h3>
        <a class="btn" href="/student_logout">Logout</a>
    </div>
   
</header>
