body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.landing-page{
  width: 100%;
  height: 100vh;
  background-image: url("/images/landing_page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-page-icons{
  margin-top:250px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.landing-page-icons img{
  border-radius: 50%;
}

.landing-page-icons p{
  color:rgb(63, 24, 48);
  font-size: 30px;
  font-weight: bold;
  margin-right: 111px;
}
.landing-page-icons a{
  text-decoration: none;
}

 .tutor-login,.student-login{
  background-image: url("/images/tutor_login_background.jpeg");
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height:100vh;
  
}
.login{
  width:60%;
  padding-top: 18rem;
}
.login-btn{
  width:100%;
  border-radius: 8px;
  background:green;
  color: #fff;
  font-size: 20px;
}

.header{
  padding-top:20px;
  padding-bottom: 20px;
  
  background: #b6f7b8;
  display: flex;
}
.header a{
   margin-left:auto; 
   margin-right:30px;
   background: #4CAF50;
   color:#fff;
   font-weight: 20px;
}
.sidebar {
  top:81px;
  left:0;
  width: 261px; 
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index:1;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* ------------------------TUTOR HOME---------------------- */
.tutor-slide-img{
  width:100%;
  height:400px;
}
.navbar-toggler-icon{
  margin-top:-100px;
}

.home-content a{
  text-decoration: none;
  color:black;
  font-size: 18px;
}

.announcements, .events{
  border: 2px solid black;
  background-color: #f1f1f1;
  color:black;
  border-radius: 20px;
  padding:10px 0;
  min-height:220px;
  
}
 
/* ---------------------End--------------------------- */
 
 .profile a{
   margin-top:20px;
   margin-left:150px;
   width:200px;
 }
 .profile img{
   margin-top:10px;
   width:200px;
   height:200px;
   border-radius: 50%;
 }
 
 .content{
    margin-top: 70px;
    padding-top: 100px;
    padding-bottom:20px;
  }
  .student_details table,
   .attendance table
   {
    width:100%;
    margin-left:60px;
    margin-top:50px;
  }
  .assignments table, .anmts table{
    margin-top:100px;
    width:100%;
    }
  .student_details th,td,
   .attendance th,td,
   .assignments th,td
    {
    font-size: 18px;
    padding:10px 0;
    text-align: left;
    
  }
  .student_details a{
    text-decoration: none;
    color: black;
  }
.each-student table{
  margin:10px 50px;
  width:100%;
}

  .profile th,td{
    font-size: 18px;
    padding:10px 0;
    text-align: left;
    
  }
  .profile table{
    width:100%;
    margin-left:150px;
    margin-top:50px;
  }
   
  .add-btn{
    margin-right: 50px;
  }
  .save-btn{
  margin-top:20px;
  width:200px;
  color: #fff;
 }
 .default-img{
   width:200px;
   height:200px;
   margin-top:150px;
   background-image: url("/images/student_Profile_Image.jpg");
   background-repeat: no-repeat;
  position: relative;
 }
 .default-img img{
  width:200px;
  height:200px;
  border-radius: 50%;
  z-index:1;
 }

.otp-login{
  width:80%;
  margin-top:8%;
  
  padding-bottom:80px;
  padding-top:60px;

  
    background-color: white;
    border: 1px solid #E7EEEC;
    border-radius: 7px;
    box-shadow: 0 4px 10px -4px #142447;
}
.otp{
  height:100vh;
  width:100%;
  margin:0;
  padding:0;
  background: radial-gradient(#fff,#ffd6d6);
  
}

#submitform{
pointer-events: none;
  opacity: 0.5;
}
.annmtdiv, .eventdiv{
  min-height: 350px;
  height:auto;
  background: #eefaee;
  color:black;
}
.announcement,.event{
margin-left:150px;
}
.announcement table,.event table{
  width: 100%;
  margin-top:50px;
}
.announcement a,.event a{
  text-decoration: none;
  color:black;
}

/* progress bar */
#myProgress {
	width: 100%;
	max-width: 700px;
	
}
#myBar {
	width: 0%;
	height: 20px;
	line-height: 20px;
	background: #0088FF;
	text-align: center;
	color: #fff;
}

/* #upload-progress {
  visibility: hidden;
}

#upload-progress.visible {
  visibility: visible;
} */

/* crop image */

.image_area {
  position: relative;
}

img {
    display: block;
    max-width: 100%;
}

.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg{
    max-width: 1000px !important;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  width: 100%;
}

.image_area:hover .overlay {
  height: 50%;
  cursor: pointer;
}

.text {
  color: #333;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



