<section class="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-4 landing-page-icons">
                <a href="/tutor/tutor_home">
                    <img src="/images/tutor_icon.png" class="img-fluid">
                    <p><i>Tutor</i></p>
                </a>
            </div>
            <div class="col-4 col-md-4 landing-page-icons">
                <a href="/student_home">
                    <img src="/images/student_icon.png" class="img-fluid">
                    <p><i>Student</i></p>
                </a>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
</section>