<section>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <div class="sidebar">
                            <a href="/tutor/tutor_home">Home</a>
                            <a href="/tutor/tutor_profile">Profile</a>
                            <a href="/tutor/student_details">Students</a>
                            <a href="/tutor/attendance">Attendance</a>
                            <a class="active" href="/tutor/assignments">Assignments</a>
                            <a href="/tutor/notes">Notes</a>
                            <a href="/tutor/announcements">Announcement</a>
                            <a href="/tutor/events">Events</a>
                            <a href="/tutor/add_photos">Photos</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-md-8 assignments container content">
            <h2 class="text-center">Assignments</h2>
            <form action="/tutor/assignments" method="POST" enctype="multipart/form-data">
                <label>Topic</label>
                <input type="text" name="" class="form-control"><br>
                <label>File</label>
                <input type="file" name="" class="form-control">
                <button type="submit" class="btn btn-success save-btn float-right">Save</button>
            </form>
            <table>
                <tr class="bg-light">
                    <th>Topic</th>
                    <th>File</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>Selection sort</td>
                    <td>selection_sort.pdf</td>
                    <td>
                        <a href="/tutor/edit_assignment"><i class="fa fa-pencil text-dark"></i></a>
                        <a href="#" class="text-dark"><i class="fa fa-trash ml-3"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Bubble sort</td>
                    <td>bubble_sort.pdf</td>
                    <td>
                        <a href="/tutor/edit_assignment"><i class="fa fa-pencil text-dark"></i></a>
                        <a href="#" class="text-dark"><i class="fa fa-trash ml-3"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Linear search</td>
                    <td>linear_search.pdf</td>
                    <td>
                        <a href="/tutor/edit_assignment"><i class="fa fa-pencil text-dark"></i></a>
                        <a href="#" class="text-dark"><i class="fa fa-trash ml-3"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>