<section>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <div class="sidebar">
                            <a href="/tutor/tutor_home">Home</a>
                            <a href="/tutor/tutor_profile">Profile</a>
                            <a class="active" href="/tutor/student_details">Students</a>
                            <a href="/tutor/attendance">Attendance</a>
                            <a href="/tutor/assignments">Assignments</a>
                            <a href="/tutor/notes">Notes</a>
                            <a href="/tutor/announcements">Announcement</a>
                            <a href="/tutor/events">Events</a>
                            <a href="/tutor/add_photos">Photos</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-8 col-md-10 student_details container content">
            <h2 class="text-center">Student Details</h2>
            <a href="/tutor/add_student" class="btn btn-success float-right add-btn">Add student</a>
            <table>
                <tr>
                    <th>Roll No.</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Diya</td>
                    <td>
                        <a href="/tutor/edit_student"><i class="fa fa-pencil text-dark"></i></a>
                        <a href="#"><i class="fa fa-trash ml-4 text-dark"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ann</td>
                    <td>
                        <a href="/tutor/edit_student"><i class="fa fa-pencil text-dark"></i></a>
                        <a href="#"><i class="fa fa-trash text-dark ml-4"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vidya</td>
                    <td>
                        <a href="/tutor/edit_student"><i class="fa fa-pencil text-dark"></i></a>
                        <a href="#"><i class="fa fa-trash text-dark ml-4"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>