<section class="tutor-login">
    <div class="container login">
    <div class="row">
        <div class="col-12 col-md-6">
                    <form action="/tutor/tutor_login" method="POST">

                    <div class="form-group">
                        
                        <input type="text" class="form-control" name="Username" placeholder="Enter Username" value="admin" required>
                    </div>
                    <div class="form-group">
                        
                        <input type="password" class="form-control" name="Password" placeholder="Enter Password" value="123" required>
                    </div>
                    {{#if loginErr}}
                    <p class="error text-danger">{{loginErr}}</p>
                    {{/if}}
                    
                    <button type="submit" class="login-btn pt-1 pb-1">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>