<section>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <div class="sidebar">
                            <a href="/student_home">Home</a>
                            <a href="/student_profile">Profile</a>
                            <a href="/student_todays_task">Today's Task</a>
                            <a href="/student_attendance">Attendance</a>
                            <a class="active" href="/student_assignments">Assignments</a>
                            <a href="/student_notes">Notes</a>
                            <a href="/student_announcements">Announcement</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-md-8 assignments container content">
            
            <h2 class="text-center">Assignments</h2>
            <form action="/assignments/submit_assignment/" method="POST" enctype="multipart/form-data"
                onsubmit="myFunction()">
                <label>Topic</label>
                <input type="text" name="topic" class="form-control" id="topic" disabled><br>
                <label>File</label>
                <input type="file" name="Image" class="form-control" id="myfile" disabled onchange="viewImage(event)">
                <input type="hidden" name="filename" id="file_name">
                <input type="hidden" name="asmntId" id="assignmentId">
                <button type="submit" class="btn btn-success save-btn float-right" id="submitbtn"
                    disabled>Submit</button>
            </form>
            
            <table>
                <tr class="bg-light">
                    <th>Topic</th>
                    <th>File</th>
                    <th>Actions</th>
                </tr>
                {{#each assignments}}
                <tr>
                    <td>{{this.topic}}</td>
                    <td><a href="/showPDF/{{this._id}}">{{this.filename}}</a></td>
                    <td>
                        <button onclick="submitAssignment('{{this._id}}')" style="border: none;">
                            <i class="fa fa-cloud-upload"></i>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</section>



<script>
    function viewImage(event) {
        let x = document.getElementById('myfile').files[0].name;
        document.getElementById("file_name").value = x;
    }

    function myFunction() {
        alert("Submitted Successfully!");
    }
</script>